$light:(
  --color-bg-main: #ffffff,

  --color-primary: #3B82F6,
  --color-success: #22C55E,
  --color-error: #EF4444,
  --color-warn: #F97316,
  --color-default: #A1A1AA,

  --color-text-900: #18181B,
  --color-text-800: #27272A,
  --color-text-700: #3F3F46,
  --color-text-600: #52525B,
  --color-text-500: #71717A,
  --color-text-400: #A1A1AA,
  --color-text-300: #D4D4D8,
  --color-text-200: #E4E4E7,
  --color-text-100: #F4F4F5,
);
